<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Dao.AnswersMapper">
  <resultMap id="BaseResultMap" type="Entity.Answers">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question" jdbcType="INTEGER" property="question" />
    <result column="answeroption" jdbcType="VARCHAR" property="answeroption" />
    <result column="optiontype" jdbcType="SMALLINT" property="optiontype" />
    <result column="lan" jdbcType="VARCHAR" property="lan" />
    <result column="uid" jdbcType="INTEGER" property="uid" />
    <result column="departno" jdbcType="VARCHAR" property="departno" />
    <result column="creatime" jdbcType="TIMESTAMP" property="creatime" />
    <result column="alterid" jdbcType="INTEGER" property="alterid" />
    <result column="altime" jdbcType="TIMESTAMP" property="altime" />
    <result column="isdel" jdbcType="SMALLINT" property="isdel" />
    <result column="optionlabel" jdbcType="VARCHAR" property="optionlabel" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question, answeroption, optiontype, lan, uid, departno, creatime, alterid, altime, 
    isdel, optionlabel
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from answers
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from answers
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="Entity.Answers">
    insert into answers (id, question, answeroption, 
      optiontype, lan, uid, 
      departno, creatime, alterid, 
      altime, isdel, optionlabel
      )
    values (#{id,jdbcType=INTEGER}, #{question,jdbcType=INTEGER}, #{answeroption,jdbcType=VARCHAR}, 
      #{optiontype,jdbcType=SMALLINT}, #{lan,jdbcType=VARCHAR}, #{uid,jdbcType=INTEGER}, 
      #{departno,jdbcType=VARCHAR}, #{creatime,jdbcType=TIMESTAMP}, #{alterid,jdbcType=INTEGER}, 
      #{altime,jdbcType=TIMESTAMP}, #{isdel,jdbcType=SMALLINT}, #{optionlabel,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="Entity.Answers">
    insert into answers
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="answeroption != null">
        answeroption,
      </if>
      <if test="optiontype != null">
        optiontype,
      </if>
      <if test="lan != null">
        lan,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="departno != null">
        departno,
      </if>
      <if test="creatime != null">
        creatime,
      </if>
      <if test="alterid != null">
        alterid,
      </if>
      <if test="altime != null">
        altime,
      </if>
      <if test="isdel != null">
        isdel,
      </if>
      <if test="optionlabel != null">
        optionlabel,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="question != null">
        #{question,jdbcType=INTEGER},
      </if>
      <if test="answeroption != null">
        #{answeroption,jdbcType=VARCHAR},
      </if>
      <if test="optiontype != null">
        #{optiontype,jdbcType=SMALLINT},
      </if>
      <if test="lan != null">
        #{lan,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=INTEGER},
      </if>
      <if test="departno != null">
        #{departno,jdbcType=VARCHAR},
      </if>
      <if test="creatime != null">
        #{creatime,jdbcType=TIMESTAMP},
      </if>
      <if test="alterid != null">
        #{alterid,jdbcType=INTEGER},
      </if>
      <if test="altime != null">
        #{altime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null">
        #{isdel,jdbcType=SMALLINT},
      </if>
      <if test="optionlabel != null">
        #{optionlabel,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="Entity.Answers">
    update answers
    <set>
      <if test="question != null">
        question = #{question,jdbcType=INTEGER},
      </if>
      <if test="answeroption != null">
        answeroption = #{answeroption,jdbcType=VARCHAR},
      </if>
      <if test="optiontype != null">
        optiontype = #{optiontype,jdbcType=SMALLINT},
      </if>
      <if test="lan != null">
        lan = #{lan,jdbcType=VARCHAR},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=INTEGER},
      </if>
      <if test="departno != null">
        departno = #{departno,jdbcType=VARCHAR},
      </if>
      <if test="creatime != null">
        creatime = #{creatime,jdbcType=TIMESTAMP},
      </if>
      <if test="alterid != null">
        alterid = #{alterid,jdbcType=INTEGER},
      </if>
      <if test="altime != null">
        altime = #{altime,jdbcType=TIMESTAMP},
      </if>
      <if test="isdel != null">
        isdel = #{isdel,jdbcType=SMALLINT},
      </if>
      <if test="optionlabel != null">
        optionlabel = #{optionlabel,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="Entity.Answers">
    update answers
    set question = #{question,jdbcType=INTEGER},
      answeroption = #{answeroption,jdbcType=VARCHAR},
      optiontype = #{optiontype,jdbcType=SMALLINT},
      lan = #{lan,jdbcType=VARCHAR},
      uid = #{uid,jdbcType=INTEGER},
      departno = #{departno,jdbcType=VARCHAR},
      creatime = #{creatime,jdbcType=TIMESTAMP},
      alterid = #{alterid,jdbcType=INTEGER},
      altime = #{altime,jdbcType=TIMESTAMP},
      isdel = #{isdel,jdbcType=SMALLINT},
      optionlabel = #{optionlabel,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>